[2018-11-09 08:44] thelfer opened #1 "TFEL version is raw encoded in the tests"

[2018-11-09 09:12] thelfer commented on #1
Fixed in rliv-1.0 and trunk

[2018-11-09 09:21] #1 closed

[2018-11-12 11:55] chleh opened #2 "Feature request: Support for MFront parameters"
First of all thanks for this library, based on the unit tests we could implement MFront support into our FEM code in seven days, including tests. Especially your unit tests were really helpful.

I recognized that `Behaviour::parameters` is always empty. There is some code to parse the parameters from MFront behaviour libraries
https://github.com/thelfer/MFrontGenericInterfaceSupport/blob/9b0884a04

[2018-11-12 12:43] thelfer commented on #2
Hi @chleh,
Thanks for using `MGIS` !
This library is still young, so it does have a few shortcomings, like parameters' support. I'll implement this rapidely.
Beware that, do to the support of the stored and disspated energies, you must use the development branches of `TFEL` to use the development branches of `MGIS`.
Do no hesitate to make other feed-backs or feature requests.
Best,
Thomas

[2018-11-13 08:53] thelfer commented on #2
Initial support for parameters has been merged in the `master` branch.

The `Behaviour` class now has the following members:
- `params`: list of real parameters
- `iparams`: list of integer parameters
- `usparams`: list of unsigned short parameters

The parameters' values can be changed through the `setParameters` functions in `C++`.

Appropriate bindings have been made for `python`.

What is miss

[2018-11-13 13:10] chleh commented on #2
That was really fast, thanks. We'll test that. For me the issue is solved now.

[2018-11-13 21:15] thelfer commented on #2
Just add tests on parameters.

[2018-11-14 07:45] thelfer commented on #2
Bindings and tests are now ok. I'l merge `master` and `rliv-1.0` branches and close the issue.

[2018-11-14 11:53] #2 closed

[2019-02-02 14:55] endJunction opened #3 "tests/IntegrateTest segfaults."
Hi, I was trying to execute the tests from the current master (9b67ad18), but for all of the `IntegrateTest*` I get a SEGV.

tfel version 3.2.0, which I got from the sourceforge site, gcc-8.2.1 on ArchLinux.
steps to reproduce:
[code]

cmake runs fine, but complains about tfel's unknown option `--python-version`, saying afterwards that there are `no tfel python bindings`.
`make check` compiles w/o

[2019-02-03 18:04] thelfer commented on #3
Hi @endJunction,

Thank you for your interest in `MGIS` and your feed-back.

`MGIS` is a very young project, so it is not surprising that you face such issues when mixing versions/branches of `TFEL` and `MGIS`.

If you look at the front page of the project on github, you'll see:

This is mostly du to the fact that I forgot to add support for stored and dissipated energies in the generic interface

[2019-02-03 18:04] #3 closed

[2019-02-26 16:04] ojamond opened #4 "Macro _GLIBCXX_DEBUG as CMake option"
When building with gnu compilers in debug mode, mgis is compiled with the macro _GLIBCXX_DEBUG defined. This option for gcc cause problems for applications linking with mgis which are not build with this macro defined (crash when loading the behavior). It seems that when this macro is defined in a library, it should be defined "everywhere" (see for instance: https://gcc.gnu.org/bugzilla/show_bug.c

[2019-02-26 20:23] thelfer commented on #4
Hi Olivier,

a new option `enable-glibcxx-debug` has been added. It is disabled by default.

To enable it:
[code]
This has been merged in `tfel`, `MFrontGallery`, `MGIS` and `MFrontMaterials`. You shall also update `Mefisto`.

Best,

Thomas

[2019-02-26 20:23] #4 closed

[2019-03-18 10:03] ojamond opened #5 "what(): getJacobianBlockVariables: tangent operator block {Stress,Strain} is invalid"
With the following .mfront files, one get the following error when the behavior is loaded:
[code]

[code]

[code]

[2019-03-18 10:06] ojamond opened #6 "Compilation errors with "@StrainMeasure GreenLagrange""
When using "@StrainMeasure GreenLagrange;", one get some errors like when building (clang):

[code]
[code]
`error: use of undeclared identifier 'K_old'`

No problem with "@StrainMeasure Henky;"

[2019-03-18 10:13] thelfer commented on #5
Hi Olivier,
I indeed missed this case in my latest development. I'll correct this rapidely.
Thomas

[2019-03-18 10:14] thelfer commented on #6
Hi Olivier,
The trouble is related to `MFront` and not `MGIS`.
Thomas

[2019-03-18 10:14] thelfer commented on #5
BTW, the trouble is both in `MFront` and `MGIS`.
Best,
Thomas

[2019-03-18 12:41] thelfer commented on #5
Hi,
Fixed in revision 2250. Sync with github in progress (it lasts about 15 minutes).
Best,
Thomas

[2019-03-18 12:41] #5 closed

[2019-03-19 11:46] thelfer commented on #6
Fixed in:
- `TFEL`' revision 2252 in `trunk`
- `TFEL`' revision 2253 in  `rliv-3.2`

[2019-03-19 11:46] #6 closed

[2019-07-15 09:42] TeroFrondelius opened #8 "MGIS Cross-compiling Windows"
Hi, I'm trying to cross-compile Windows binaries and got this error message:
[code]
Here is the full output: https://travis-ci.org/TeroFrondelius/mgisBuilder/builds/558838925?utm_source=github_status&utm_medium=notification

[2019-07-16 07:34] thelfer commented on #8
Hi Tero,
It seems that this is a side effect of removing `--march=native` (-Denable-portable-build=ON). See this thread: https://stackoverflow.com/questions/35884832/compile-error-undefined-reference-to-atomic-fetch-add-4
Would you try to enable this option again to see if this solve the issue ?

[2019-07-16 07:47] TeroFrondelius commented on #8
Yes, I will try. Thanks for your help.

[2019-07-16 08:02] TeroFrondelius commented on #8
@thelfer sorry for the stupid question, but can I do it like this:
[code]

[2019-07-16 08:05] thelfer commented on #8
Unfortunately no. For (probably) bad reasons,  `CMAKE_CXX_FLAGS` is overriden during the configuration steps.

[2019-07-16 08:10] TeroFrondelius commented on #8
Alright, no problem. I will try again, now interactively. Now I'm more convinced that I will need a good linux laptop as a work computer.

[2019-07-16 11:42] TeroFrondelius commented on #8
It looks like the `CXXFLAGS` is overwritten. I tried adding `set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -march=native")` both at the beginning and at the end of the file `CMakeLists.txt`, but it didn't help. I will try to dig deeper and find where is it overwritten.

[2019-07-16 12:19] TeroFrondelius commented on #8
I used `ccmake` to interactively study the environment and I got the `-march=native` and `-latomic` correctly. Maybe it is something else.

[2019-07-16 20:02] TeroFrondelius commented on #8
I got it working. I needed these changes in the `CMakeLists.txt`:
[code]
I think the latter is because of the "collapsed" folder structure. Anyway one step forward.

[2019-07-16 20:02] #8 closed

[2020-01-19 13:46] srmnitc opened #17 "Installation instruction and dependencies"
This is part of the review of JOSS paper https://github.com/openjournals/joss-reviews/issues/2003

From the JOSS paper and associated documentation [webpage](https://thelfer.github.io/mgis/web/index.html), it is difficult to find any documentation on how to install or compile MGIS. Furthermore, the dependencies are also not documented in an easily accessible way.

[2020-01-19 13:49] srmnitc opened #18 "Running tests"
This is part of the review of JOSS paper https://github.com/openjournals/joss-reviews/issues/2003

A folder named tests is present in the repo, however, no documentation is provided on how to run the tests

[2020-01-19 13:53] srmnitc opened #19 "API Documentation"
This is part of the review of JOSS paper https://github.com/openjournals/joss-reviews/issues/2003

The [webpage](https://thelfer.github.io/mgis/web/bindings-cxx.html) mentions that API documentation can be generated using Doxygen. However, when trying to generate the documentation, the following error is generated-

[code]
If any further configuration is required, it needs to be documented.

[2020-01-19 13:55] srmnitc opened #20 "Community guidelines absent"
This is part of the review of JOSS paper https://github.com/openjournals/joss-reviews/issues/2003

Community guidelines as present in the JOSS paper - `Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support` are absent.

[2020-01-20 12:34] srmnitc opened #21 "Author affiliations are not complete"
This is part of the review of JOSS paper https://github.com/openjournals/joss-reviews/issues/2003

Author affiliations should have complete addresses

[2020-01-28 21:50] thelfer commented on #19
The `Doxygen` documentation can be generated as part of the build process. You must pass the `-Denable-doxygen-doc=ON` flag to cmake to enable it (See `INSTAL-cmake.md` for details). The documentation is generated by:

[code]

[2020-01-28 21:50] #19 closed

[2020-01-28 21:53] thelfer commented on #21
@srmnitc Could you be more specific ? Is the issue only related to the JOSS paper ? If so, each authors seems to have properly filled its affiliations in the paper, don't they ?

[2020-01-28 21:55] thelfer commented on #18
Running the test is part of the build process. The tests can be run by calling `ctest` (as usual in a `cmake` project), or by calling :

[code]

at the top of the build directory.

**Note** The tests are only built if `TFEL/MFront` has been detected by `cmake`.

[2020-01-28 21:55] #18 closed

[2020-01-28 22:08] thelfer commented on #17
@srmnitc Thanks for this feed-back. I updated the `INSTALL-cmake.md` file to give an overview of the installation process. A new page has been added to the website: https://thelfer.github.io/mgis/web/install.html

[2020-01-28 22:08] #17 closed

[2020-01-28 22:11] srmnitc commented on #21
@thelfer Yes this is only related to the paper.  No, they are incomplete. For example, number 3 Wärtsilä, Number 4, Number 6 etc. The complete address of affiliated institution should be present. All of the already published JOSS papers seems to follow this.

[2020-01-29 10:19] thelfer commented on #21
@srmnitc Can I close the issue ?

[2020-01-29 10:24] srmnitc commented on #21
1, 7 and 8 still not fixed

[2020-01-29 13:40] thelfer commented on #21
Updated my own affiliation. Waiting for Thomas and Dmitri updates.

[2020-01-29 14:39] thelfer commented on #20
@srmnitc I adapted the `CONTRIBUTE.md` file for the `html5boilerplate` project which I found very clear. I added this new `CONTRIBUTE.md` in the root directory of the project and updated the website. Need to do the same for all my other projects.

[2020-01-29 14:39] #20 closed

[2020-01-30 19:24] thelfer commented on #21
@srmnitc Affliations shall be correct by now.

[2020-01-30 19:24] #21 closed

[2020-02-19 12:38] pbouda95 opened #25 "[CMake]: Exporting MGIS build tree for use by external projects"
Hello Thomas,

Everything is in the subject. For further details, see [request #4](https://github.com/thelfer/tfel/issues/4) for TFEL repository.

Cheers,
Pascal

[2020-02-27 08:16] pbouda95 opened #27 "[Fortran] Get internal state variables array size via fortran bindings"
Hello Thomas,

In Behaviour class, subroutine BEHAVIOUR_GET_INTERNAL_STATE_VARIABLE_OFFSET enables InternalStateVariables array partitioning. However, the whole array size is unknown a priori. This may be useful when initializing FE code fortran arrays.

Is there a way to gain access to it ?

Cheers,
Pascal

[2020-02-27 08:21] thelfer commented on #27
Hi Pascal,
as you know, `fortran` bindings still are in an early stage of development.
No  function returning the size of the internal state variables are not exposed so far. I'll try to do this quickly.
Thomas

[2020-02-27 13:54] #27 closed

[2020-02-27 16:02] bleyerj opened #28 "Missing block jacobian info in python binding"
When inspecting the behaviour object in Python, there seems to be no information about the block structure of the jacobian

[2020-03-01 16:47] pbouda95 opened #30 "[bindings] Variables array size depending on type+modelling hypothesis"
Thomas,

Within the Behaviour object, one can get parameters, state variables (external+internal) or material properties type (scalar, vector tensor or stensor) using current bindings. However, it is not possible to get their size depending on the modelling hypothesis.

I can try to do something about this, but I am not sure if this is really relevant ...
Or maybe there is an another way to procee

[2020-03-02 07:39] thelfer commented on #30
Hi Pascal,
Material proeperties, parameters and external state variables are always scalars so their size does not depend on modelling hypothesis.
For state variables, you can indeed get access to its type, but I did not expose any method to get their size as a function of the modelling hypothesis.
I'll fix this ASAP.

[2020-03-02 09:38] thelfer commented on #30
The `get_variable_size` function is now available in the
`mgis_behaviour` module. This function returns the size of a variable
(i.e. the number of components) for the given hypothesis.

[2020-03-02 09:38] #30 closed

[2020-03-02 22:08] thelfer commented on #25
The following files are now generated and exported:

- `MFrontGenericInterfaceConfig.cmake`: configuration file for the `MFrontGenericInterface` library which contains the `C++` core library of `MGIS`.
- `MFrontGenericInterface-cConfig.cmake`: configuration file for the `MFrontGenericInterface` library which contains the `c` binding of `MGIS`.
- `MFrontGenericInterface-fortranConfig.cmake`: config

[2020-03-02 22:08] #25 closed

[2020-03-02 22:41] thelfer commented on #28
The tangent operator blocks are now available in the `python` bindings
under the `tangent_operator_blocks` property of the `Behaviour` class.

Those blocks are accessible as an array of tuples of instances of the
`Variable` class.

This feature can be used as follows:

[code]

[2020-03-02 22:41] #28 closed

[2020-03-03 11:48] pbouda95 opened #31 "Sound Velocity management"
Thomas,

Everything is in the subject. See the following sourceforge ticket for further details:
https://sourceforge.net/p/tfel/tickets/210/

Cheers,
Pascal

[2020-03-04 09:26] thelfer opened #32 "Better `const` correctness"
This issue follows this  evolution in the `generic` interface of `MFront`: <https://sourceforge.net/p/tfel/tickets/212/>

The state at the beginning of the time step  is now described in a structure called `mgis_bv_InitialStateView`, the fields of which are all `const`.

The following fields of the `mgis_bv_StateView` are now `const`:

- `gradients`
- `material_properties`
- `external_state_variab

[2020-03-04 09:26] #32 closed

[2020-03-13 09:17] bleyerj opened #33 "Function for checking if the behaviour is a Finite Strain one"
It would be nice to have a function returning if a behaviour is a finite-strain one so that one can call the appropriate method (with finite-strain options in this case) when loading the behaviour

[2020-03-13 09:46] thelfer commented on #33
Just to mention, in `C++`, you may have access to those information using the `LibraryManager` class. However, this class is very low level and is not available in any bindings.

[2020-03-13 12:15] thelfer commented on #33
Just added the `isStandadFiniteStrainBehaviour` function. Would you test it ?

[2020-03-13 12:55] bleyerj commented on #33
works fine!

[2020-03-13 12:55] #33 closed

[2020-03-13 14:30] thelfer opened #34 "Better support of orthotropic behaviours"
For the moment, `MGIS` assumes that the calling solver handles the rotation to the material frame. The object of this issue is to provide appropriate function to handle the rotation.

[2020-03-25 13:33] srmnitc opened #35 "Issues with paper"
This is part of the review of JOSS paper openjournals/joss-reviews#2003

- The JOSS paper has some typos which need to fixed.
- The first page of the paper has numerous short paragraphs, which in my opinion affects the readability.
- Another point is about citations. Statements in the paper such as `This is error-prone and may lead to spurious or even worse inexact results` and `While this causes

[2020-03-25 13:46] thelfer commented on #35
Hi @srmnitc,

This is indeed a difficult point coming most notably from our own experiences of building complex simulations. I don't know if I can find any citations on that matter.

Would it be ok if we introduce proper word of cautions, such as: "According to the authors experience...", "One drawback of this approach is that it may lead to memory fragmentation"

[2020-03-26 18:49] srmnitc commented on #35
I think you could also specify some reason as to why it is error prone and so on.

[2020-03-31 08:25] thelfer commented on #35
For the third point, here is a small paragraph which highlighs how traditional approaches are error-prone:

[2020-03-31 10:02] thelfer commented on #35
@srmnitc

I tried to fix that with the help of the co-authors and a colleague who is a native english speaker. English is hopefuly acceptable now.

Apart from the first line, the other paragraphs have more than 7 lines. Each develops a specific idea, which is a common convention in French.

The statement "This is error-prone" has been discussed more in details.
The statement about memory fragmenta

[2020-04-03 08:19] srmnitc commented on #35
Thanks @thelfer , everything looks okay now. One last point - maybe Mohr-Coulumb yield criterion needs a citation?

[2020-04-03 09:07] thelfer commented on #35
Done ! Thanks again for the review.

[2020-04-03 09:07] #35 closed

[2020-04-12 19:35] pbouda95 opened #37 "[fortran] Missing bindings for fortran-based memory allocation with MaterialDataManager"
Some c/fortran functions are missing (or are wrongly defined) to enable the use of fortran-based memory ...

[2020-04-12 19:46] pbouda95 opened #39 "[fortran] Some bindings are returning a NaN value"
Several bindings are returning a NaN value, whichever the arguments:
1. material_state_manager_get_uniform_external_state_variables
2. material_state_manager_get_uniform_material_property

My first investigations were not fruitful so I am opening this ticket ...

Cheers,

[2020-04-13 08:22] thelfer commented on #39
The issue boils down to this test, which was meant to invalidate the result if the calll was unsucessful:

[code]

This shall be:

[code]

Thanks for reporting !

[2020-04-13 08:22] #39 closed

[2020-04-13 08:31] thelfer commented on #37
Hi Pasca

[2020-04-13 08:31] #37 closed

[2020-04-28 14:03] thelfer opened #45 "Stored and dissipated energies are not updated properly in MaterialStateManager"

[2020-04-28 15:59] #45 closed

[2020-05-29 20:43] bleyerj opened #46 "Memory leakage in python bindings"
There seems to be memory leakage problems when running some `mgis.fenics` demo (phase-field example at least)

[2020-05-30 06:17] thelfer commented on #46
The trouble is in the `mgis_convert_to_span` which relies on the `PyArray_FROM_OTF` function to retrieve the data associated with an `numpy` array. I misread the documentation of this function and though it only retrieves the pointer of the `numpy` object, but it does more:

- if its argument is a `numpy` array it increases the internal  counter.
- if it is not, it tries to convert the object in a

[2020-05-30 07:24] thelfer commented on #46
Fixed in `master` and `rliv-1.1`

[2020-05-30 07:24] #46 closed

[2020-05-30 17:59] thelfer opened #47 "Handling of external state variable in `mgis.fenics` shall be improved"
The `update_external_state_variables`  method in `MFrontNonlinearMaterial` shall not update the external state variables at the beginning of the time step.

Indeed, many behaviours only work if the increment of the  state variables are properly defined.

[2020-06-08 12:37] #47 closed

[2020-07-25 00:15] cenguo opened #50 "new feature request: initialize initial stress in mgis.fenics"
Hi,

I'd like to ask for a new feature in mgis.fenics, which can initialize the initial stress condition before loading is performed (in the context of soil mechanics).

Thanks,
Ning

[2020-07-31 20:32] yunkb opened #51 "Import Error in handling the dynamics modules _mgis and behaviour"
The error is obtained calling `python3 -c "from mgis import *"`

 from ._mgis import *

ImportError: dynamic module does not define module export function (PyInit__mgis)

The code is compiled with Python3.6 and against dolfin 2019.

[2020-08-01 09:48] thelfer commented on #51
@yunkb Thanks for the  report.

The trouble is generally due to a mismatch between:

1. `Boost/Python` and `python`
2. the `python` version detected by `cmake`

Can you provide more details:

- anything that would help reproduce the issue (os, compiler, boost version)
- the output of `cmake`

[2020-08-01 12:49] thelfer commented on #50
Hi Ning,
This is a discussion that we regularly have with @nagelt for applications in `OpenGeoSys`.
First, you can directly initialize the stress in the `mgis.fenics`. The real trouble is that most behaviours written with `MFront` (in particular those based on the `StandardElasticity` and `StandardElastoViscoPlasticity` bricks) will discard this information because they rely on the elastic strain.

[2020-08-01 13:29] thelfer commented on #34
For orthotropic behaviours, the `Behaviour` structure exposes  6 function pointers:

- `rotate_gradients_ptr`: pointer to a function implementing the rotation of the gradients from the global frame to the material frame.
- `rotate_array_of_gradients_ptr`: pointer to a function implementing the rotation of an array of gradients from the global frame to the material frame.
- `rotate_thermodynamic_fo

[2020-08-02 06:24] cenguo commented on #50
Hi Thomas,

Thanks for your reply. I think your proposal will work perfectly. Previously, I worked with mgis.behaviour and set internal state variables explicitly (see below), and it also worked. I just didn't find a way to do this in mgis.fenics.

epsilon = numpy.dot(compliance, init_sigma.T).T
materData = mgis_bv.MaterialDataManager(behaviour, ngauss)
for s in [materData.s0, materData.s1]:
    s

[2020-08-02 07:57] thelfer commented on #50
As a temporary workaroung, I think that you can access the `MaterialDataManager` as follows:

[code]

Note that the material data manager is set when the material is assigned to a problem, hence you can't access it before the definition of your problem....

[2020-08-02 16:01] yunkb commented on #51
Thanks for feedback,   I  see the problem is related to ubuntu default library libboost-python-dev that link python2 in place of python3. I will generate a Dockerfile (with own installation of dockerfile) and attach in next message.

[2020-08-02 16:33] thelfer commented on #51
It won't be necessary. I already have 20.04 installed in a virtual machine and its works fine.
Would you just indicate the `cmake` call that you used ?

[2020-08-02 16:58] yunkb commented on #51
With the previous container, I use boost version 1.65 that was with ubuntu (bionic).  Now I am compiling
[](https://github.com/yunkb/MgisInterface/blob/master/Dockerfile) on Dockerhub (boost is own compilation with 1.71 that you have in ubuntu 20.04).

[2020-08-03 12:32] thelfer commented on #51
1. The first trouble is that `NumPy` is not installed in a common repository. Hence, it is not handled properly by  `MFront`. I have corrected this in my version and will upload a corrected version in the `github` repository soon. For the moment, you simply can disable the `NumPy` support in `MFront` by passing `-Denable-numpy-support=OFF` flag to `cmake`.
2. Once the first trouble is solved, ther

[2020-08-03 13:45] yunkb commented on #51
Thanks for feedback once again. I am updating the cmake i have in docker (fenics is based on 18.04 ubuntu). I compile from scratch cmake 3.18 (latest version) and Boost 1.71 (removing the boost coming with ubuntu 18.04) , I fork the tfel and modify the cmakecache ( it should detect numpy36 without making confusion). I keep update about deployment.

[2020-08-03 15:30] thelfer commented on #51
Thanks. Let me know if it works better.

[2020-08-04 15:16] yunkb commented on #51
I have deployed one image using your suggestion with success (import issue is fixed, mgis.behaviour works). I have just a minor to fix (use dev-env to recompile dolfin against boost version since it is based on 1.65 compiled against python2) and an update on LD_LIBRARY_PATH, but i will deploy it by tomorrow on dockerhub. https://hub.docker.com/repository/docker/dbaroliaices/mgisfenics

[2020-08-04 17:06] thelfer commented on #51
@yunkb That's very interesting.

Would be nice to advertice that on the MFront twitter account and make a link of the `mgis.fenics` page. Would you give me your name (and affiliation if appropriate) ? You may contact me at tfel-contact@cea.fr

[2020-09-17 09:23] #34 closed

[2020-09-17 09:24] #51 closed

[2020-09-29 17:09] tamaradanceva opened #52 "TFEL/MFront + FEniCS - parallel implementation"
Hi,

I am a Ph.D. student at the Basque Center for Applied Mathematics in Bilbao, Spain. I am also part of the ENABLE project, an Innovative Training Network (https://enable-project.com). My specialization is in High-Performance Computing, in the context of setting up an HPC environment and developing efficient methods for advanced multi-scale material behavior law models using strain-gradient pla

[2020-09-29 18:59] thelfer commented on #52
Dear Tamara,

Thanks for your interest. I think that we can do something interesting around the mgis.fenics python module which has mostly been developed by @bleyerj. See this page for details: https://thelfer.github.io/mgis/web/mgis_fenics.html

For Cosserat elastoplasticty, I need to have a closer look at the behaviour that you want to implement to tell you if you can implement it right now or i

[2020-09-29 19:36] bleyerj commented on #52
Hi @tamaradanceva ,
If I am not mistaken Cosserat models (elastoplasticity in particular) should be straightforward to implement using `TFEL/MFront` and the `mgis.fenics` module since generalized stresses are just a non-symmetric 2nd-order stress tensor and a non-symmetric 2nd-order couple stress tensor if I am not mistaken. This should be already supported.

If you give us the exact small strain

[2020-09-30 13:57] tamaradanceva commented on #52
Hi, @thelfer and @bleyerj,

Thank you very much for the answers. I will get back to you if I have any more questions since I will try implementing the models. First I am trying to run some tests in parallel.

Here is a link to a preprint of an article by my colleague in the modeling work package that is going to be published in the next issue of the Journal Continuum Mechanics and Thermodynamics:

[2020-10-21 14:33] mashsquad777 opened #53 "Temperature dependent material properties"
Dear developers,
                           I am working on the thermo-mechanical simulation project where the mechanical material properties are temperature dependent. My concern is that does or can MFrontGenericInterfaceSupport take care of this feature in its small strain plasticity module? Thank you!

[2020-10-21 14:38] thelfer commented on #53
Hi @mashsquad777,

yes, without trouble.

The real question is how you want to implement that:

1. You may directly incomporate the dependency of the material properties in the behaviour implementaiton
2. You may compute the material properties at each integration points before the behaviour integraiton.

The best answer depends on the solver that you plan to use, so I would need more details abou

[2020-10-21 15:58] mashsquad777 commented on #53
Hi @thelfer ! Thanks a lot for your response.
Actually I want to couple the heat equation with the solid mechanics governing model to simulate the thermal expansion and contraction.
I already have the heat equation C++ FEM code. Now I am looking for the C++ code which can solve the small strain elastoplastic material model with return mapping algorithm. As my problem includes high thermal gradient

[2020-10-21 16:29] thelfer commented on #53
Hi @mashsquad777,
MFront do provide the implementation of a return mapping algorithm and everything that you need.
However, remember that we do not provide any mechanical solver, we "just" implement the behaviour integration in `MFront` and `MGIS` provide functionnalities to integrate MFront behaviours in an **existing** solver.
Best,
Thomas

[2020-10-21 17:22] mashsquad777 commented on #53
Dear Thomas,
                         Thank you very much for the informative response. It seems interesting then. I would like to know if MFront also already contains thermal expansion coupling term for elastoplastic behaviour or can accommodate for its implementation.
Is there detailed documentation for implemented model for its behaviour? Thank you! 🙂

[2020-10-21 18:37] thelfer commented on #53
@mashsquad777 So it's more a `MFront`' question than a `MGIS`' one :)

MFront offers a layered approach with high level concepts like bricks (very easy to use but limited to specific cases) to low level concepts like domain specific languages (more general but more difficult).

I would recommend that you have a look at:  http://tfel.sourceforge.net/StandardElastoViscoPlasticityBrick.html
If the `S

[2020-10-23 07:47] mashsquad777 commented on #53
Hi @thelfer thanks for the information. I was going through the documentation and links you mentioned.

Sorry if my questions sound silly, I am new in this field of using interfaces in FEM codes. I have following questions from the aspects of material modelling and the interfacing of MFront with other solver:
1)   StandardElastoViscoPlasticity might not be suitable for me as I am working on the ra

[2020-10-23 08:08] thelfer commented on #53
Hi @mashsquad777,

`deal.ii` seems to be a very nice software.

Here is how it usually works:

1. the solver computes the strain at each equilibrium iterations and stores it in `MGIS` data structure
2. the solver calls the behaviour integration via `MGIS`
3. the solver computes the nodal inner forces and stiffness matrix from the stress computed by `MGIS`

At the end of the time step,  one updates

[2020-10-23 08:27] mashsquad777 commented on #53
@thelfer thank you very much. I really admire your honest suggestion. If we have to include multiple material behaviours, we might consider using MGIS in future then.

[2020-10-23 11:49] thelfer commented on #53
@mashsquad777 That's natural. `MGIS` is more and more used, so I don't need to chase new users.

[2020-10-23 12:05] #53 closed

[2020-10-29 13:57] RaffaRus commented on #52
Hi @thelfer and @bleyerj ,

First of all many thanks for the support!

I am collaborating with @tamaradanceva on the implementation of the elasto-plastic version of the Cosserat media under Small Deformation. We are in the same European Project ENABLE, and I am currently implementing the Large Deformation version (Hyper-Elastic, Visco and Elasto Plastic) in Z-Set (ZEBULON).

I am not familiar with

[2020-10-29 14:56] thelfer commented on #52
Hi @RaffaRus,
I am currently out of office. I’ll have a deeper look at it next week. Some tensorial operations seem missing right now, but nothing critical. The DefaultGenericBehaviourDSL shall do the word, but it is fairly undocumented right now. Would you be ok to help us write a new page for the MFront gallery or a new tutorial for mgis.fenics ?

[2020-10-29 16:02] RaffaRus commented on #52
Thanks a lot for the assistance! Yes, if I can be of any help writing some tutorial I would be glad to do so. Let us talk next week then.

Have a nice weekend.

Best,
Raffaele.

[2020-10-29 21:27] bleyerj commented on #52
Hi @RaffaRus, I think that this could be feasible right now. Could you share with us your best attempt and we can have a look and get back to you.
Best

[2020-10-30 12:25] RaffaRus commented on #52
Hi @bleyerj , thanks for your help! In the attachemnts our attempt to model the behavior using the DefaultGenericBehaviour class. There are few comments related to the issues we are facing. Please let us know if they are not clear.

Best.

[CosseratIsotropicLinearHardeningPlasticity.mfront.txt](https://github.com/thelfer/MFrontGenericInterfaceSupport/files/5465073/CosseratIsotropicLinearHardeningP

[2020-10-30 13:10] bleyerj commented on #52
Indeed, there seems to be only partial support of Tensor/Tensor tangent blocks in MFront which makes straightforward implementation of Cosserat EP behaviour not possible right now. This should be fixed soon.

[2020-10-30 13:44] thelfer commented on #52
Hi
There are indeed a few features missing. The tensorial objects exists, but not associated views in externally allocated memory. I’ll Check this out and let you inform.

[2020-10-30 19:39] thelfer commented on #52
@RaffaRus, @bleyerj. With a one line fix, here is a minimal example.

[code]

The fix is available shortly on `github`.

[2020-10-30 19:48] thelfer commented on #52
It would be nice to detail the algorithm. I understand that this is a fully Euler backward algorithm, is it ?
If this is the case, then the `DefaultGenericBehaviour` DSL is already sufficient (no work on the `MFront` side). However, some functions shall be added to the `TFEL/Math` library (for example, the `skew` function and its derivative).

@RaffaRus would you start writing a small document des

[2020-10-31 15:03] bleyerj commented on #52
hi, here is a first proposal which compiles with the current master. I didn't check it yet though

[CosseratIsotropicLinearHardeningPlasticity.mfront.txt](https://github.com/thelfer/MFrontGenericInterfaceSupport/files/5469284/CosseratIsotropicLinearHardeningPlasticity.mfront.txt)

[2020-10-31 15:38] thelfer commented on #52
Hi @bleyerj,

This is becoming nice but:

1. `@PredictionOperator` is not called before `@Integrator`, so ∂σ∕∂Δεᵗᵒ  and  ∂μ∕∂Δκ are not defined when you use them
2.  there's no tangent operator. For this, I just want to know if there are operators missing.

[2020-11-01 14:41] bleyerj commented on #52
yes, I was just sending this quickly, I had my kids around... I'll get back to it this week

[2020-11-01 17:03] thelfer commented on #52
@bleyerj, come mine too. Also, was not sure if the proposed algorithm is fully implicit or fully explicit... That's why I proposed to start write a small paper to fix the equations (and the computation of the consistent tangent operator)

[2020-11-02 08:50] ojamond opened #54 "Inform the calling code about @DissipatedEnergy and/or @InternalEnergy"
For application codes which manage the memory using BehaviourDataView, it would be nice to be able to know if the loaded behavior as @DissipatedEnergy and/or @InternalEnergy blocks, so that the calling code could know if it has to allocate memory for that or not.

[2020-11-02 14:23] tamaradanceva commented on #52
Hi @thelfer @bleyerj,

Thank you very much for your help so far. We have tested the version sent by @bleyerj and it doesn't compile, with or without the definition of the tangent operator. It results in the same error as before, from the check of the types of the gradient and the flux when creating the tangent operator. This is including with the latest version.

`BehaviourDSLCommon::getBehaviourC

[2020-11-02 14:51] thelfer commented on #52
Hi @tamaradanceva, @RaffaRus
Indeed, @bleyerj did a great job. I think that we are close to something working.
Have you updated your `TFEL` version. @bleyerj  and I used the latest commit of the `master` branch.

[2020-11-02 15:39] tamaradanceva commented on #52
Hi @thelfer and @bleyerj ,
Sorry, my mistake, I am on the latest master now and it compiles! There are some more changes that we need to do on the FEniCS side and a part of the plastic tangent operator. We will test it further and let you know of the progress.

[2020-11-02 16:21] bleyerj commented on #52
OK, let me know if you need some help on the FEniCS side, in particular it may be possible that the Cosserat model needs some reduced integration strategy to prevent any numerical locking...

[2020-11-02 21:41] bleyerj commented on #52
@thelfer the algorithm will be implicit but with a closed-form analytical expression as for the standard von Mises with isotropic linear hardening

[2020-11-02 21:55] thelfer commented on #52
Ok, I just did not take the time to write it properly. So your implementation already shows that the current `DefaultGenericBehaviour` DSL is enough, one just have to work on the tangent operator side. Good.

For the moment, the `ImplicitGenericBehaviour` DSL don't accept (non symmetric) `tensor` variables as integration variables. This is because the increments are views on part of a great array

[2020-11-03 16:59] RaffaRus commented on #52
Hi @thelfer and @bleyerj ,

Here I attach a small report on the model we are trying to implement. We are also close to something working thanks to your help. We are going to let you know asap. Please let me know if I missed some important information in the report.

Cheers,

Raffa.
[Cosserat SD - Model.pdf](https://github.com/thelfer/MFrontGenericInterfaceSupport/files/5482788/Cosserat.SD.-.Model.

[2020-11-04 16:57] ATAKOURA opened #55 "Command line for the strain and stress tensor"
I come back to you to get the command line I need in the attached code
 https://thelfer.github.io/mgis/web/mgis_fenics.html: on Phase-field approach
the fracture  to extract the deformation and stress tensor associated with the displacement field. The goal is to visualize it with Paraview.

[2020-11-04 21:50] bleyerj commented on #55
You can check this demo https://thelfer.github.io/mgis/web/mgis_fenics_small_strain_elastoplasticity.html where we get a state variable by projecting it on a suitable function space. You can do the same with the stress field using for instance:
`problem_u.get_flux("Stress", project_on=("DG",0))`
If you want to access the strain you can for instance declare it as a state variable in MFront and do `

[2020-11-05 07:00] thelfer commented on #55
Hi @bleyerj,
Thanks for the answer.
Storing the strain in a state variable is just a bit two much since we keep the gradients in `mgis` `MaterialDataManager` (hence we would duplicate memory, which is bad), isn't it ?
Would it be better to have a `get_gradient` method similar to the `get_flux` (I can try to implement it) ?
Best,
Thomas

[2020-11-05 08:56] bleyerj commented on #55
@thelfer OK with that, should be very similar to `get_flux` indeed

[2020-11-05 21:17] thelfer commented on #55
Hi,

Just had a look at it. It looks like @bleyerj have already done all the work, so the `get_gradient` seems a simple copy/paste version of the `get_flux` method (see below). Unfortunatly, my virtual machine on which I installed fenics seems now broken (I just upgraded VirtualBox...). It will take me some time to reinstall it.

@ATAKOURA would test this code (just copy/paste in the the file `non

[2020-11-09 22:32] bleyerj opened #56 "Choose between tensor and vector representation from FEniCS side"
would be good to add a `shape={"tensor","vector"}` optional argument in `get_flux`, `get_state_variable` and `get_gradient` for tensorial objects. Currently, they are returned as vectors, the tensor respresentation may be more suitable from the FEniCS side

[2020-11-11 16:22] tamaradanceva commented on #52
Hi @thelfer, @bleyerj

Here is a link to the case we are working on, https://github.com/RaffaRus/Cosserat-Fenics/tree/master/Tensile_Ti-6Al-4V-Cosserat. We did some benchmarking on a tensile test with classical elastoplasticity and we are trying to extend the same example with Cosserat for a start. It should not make a difference if it is done correctly. I want to ask you specifically about the tr

[2020-11-13 17:41] thelfer commented on #55
@bleyerj My solution don't work:

[code]

because de `Gradient` class does not inherit from `QuadratureFunction`as does the `Flux`class. @bleyerj Is this something that we can change ?

[2020-11-13 18:39] thelfer commented on #55
@bleyerj Here is a quick fix that seems to work. However, many things are duplicated in `Gradient` and `QuadratureFunction`. Would you have a look at it ?
[fenics.zip](https://github.com/thelfer/MFrontGenericInterfaceSupport/files/5538745/fenics.zip)

[2020-11-13 20:33] thelfer commented on #55
@bleyerj I can confirm that the strains can be  correctly exported with this fix.

[2020-11-13 20:53] bleyerj commented on #55
Thanks I have refactored a bit the QuadratureFunction part in #57

[2020-11-13 20:53] #55 closed

[2020-11-13 21:21] #56 closed

[2020-11-13 22:32] bleyerj commented on #52
dear @tamaradanceva  and @RaffaRus , as discussed today with @thelfer, it seems that :
* you did not consider coupling tangent terms dsig/dkappa and dmu/deps which should be considered for the consistent tangent operator (note that such coupling is activated only in the plastic case)
* contrary to what is obtained for classical J2 plasticity with isotropic elastic behaviour, the implicit system ca

[2020-11-14 08:20] thelfer commented on #52
Hi @tamaradanceva, @RaffaRus, @bleyerj

Thanks for checking this, I indeed came to the same conclusion, i.e. that no closed form solution exists for the implicit scheme in the Cosserat case. So we'll have to rely on the `ImplicitGenericBehaviour`  DSL. I will do the required developments after the release of `TFEL-3.4` (end of month) in the master branch (i.e. the future `TFEL-4.0` version) at the

[2020-11-15 07:27] thelfer commented on #52
@RaffaRus, @tamaradanceva, @bleyerj Here is an explicit implementation based on Equations 1.59, 1.60 and 1.61. More precisely, I adapted Jérémy's implementation.

Only the elastic  operator is returned. We could implement the tangent operator given by Equations 1.57 and 1.58 (completed by the coupling blocks), however this is probably a bad idea: in standard elasticity, it is often advocated in th

[2020-11-15 18:40] thelfer commented on #54
@ojamond Would test and eventually close this ticket ?

[2020-11-15 21:33] bleyerj commented on #52
@tamaradanceva @RaffaRus
Thanks to @thelfer explicit implementation, I have now a working example using `mgis.fenics` with the SNES solver using Newton method (with the elastic operator) and a line search procedure
If you could check that with an analytical reference solution that would be great.
You will also need `MGIS` latest version, as I had to fix something to make it work

[explicit_cossera

[2020-11-16 06:30] thelfer commented on #52
@bleyerj Great work !

@RaffaRus, @tamaradanceva don't forget to update both `TFEL` and `MGIS` to make it work. At this stage, performances can still be improved (next month), but early tests can be made.

[2020-11-16 12:14] tamaradanceva commented on #52
Hi @bleyerj, @thelfer

Thank you very much for your help! We will test this approach with giide and bending for which Raffa has a semi-analytical solution and let you know.

[2020-11-16 19:50] thelfer commented on #52
@RaffaRus, @tamaradanceva, @bleyerj I just wanted to point this issue: https://sourceforge.net/p/tfel/tickets/256/
It may affect your computation. I solved it in the current version, I would recommend that you update your version.

[2020-11-16 20:03] tamaradanceva commented on #52
@thelfer Thanks for the heads up, I updated it.

[2020-11-16 20:07] thelfer commented on #52
@tamaradanceva Well, I was too quick, The github repository is not yet synchronised. Could you update your `TFEL` version in 15 minutes ?

[2020-11-16 20:08] thelfer commented on #52
The github has been updated at 20h43.

[2020-11-21 17:14] tamaradanceva commented on #52
Hi @thelfer, @bleyerj

Here is a link to the glide test, https://github.com/RaffaRus/Cosserat-Fenics/tree/master/Glide-Cosserat-ElastoPlasticity with results from FEniCS and Zset, and a comparison with the analytical solution.

![full_comparison_analytical](https://user-images.githubusercontent.com/4108688/99883057-025d1980-2c25-11eb-832a-91bf6d506f76.png)

We are going to continue with the bendin

[2020-11-21 18:25] thelfer commented on #52
@tamaradanceva Thanks for the feed-back, that's quite nice.
As discussed before, performances are yet to be optimised. Could you also have a look at the number of iterations to find the equilibrium in each cases ?

[2020-11-21 22:40] tamaradanceva commented on #52
@thelfer,

About the improvements, I have them in mind. I was about to ask you about the plans for moving to dolfin-x, it is good to know. We just have an internal deadline at the beginning of December, for which, I would have to do an initial evaluation.

In the FEniCS+MFront case, we have [1,1,1,1,1,1,3,7,8,8,9,10,10,11,12,13,15,16,18] iterations. I will get back to you on Zset, I have to check

[2020-11-22 08:22] thelfer commented on #52
@tamaradanceva  That's good to have those limitations in mind (and the fact that they will hopefully be overcome in mid-term).
It seems that you don't use `mgis.fenics` yet. Your input files will be much shorter and easier to read/maintain/adapt, but that would also help use other `FEniCS` built-in solvers (quasi-newton, BFGS, etc...). @bleyerj don't hesistate to comment, you're far more experienc

[2020-11-22 09:00] tamaradanceva commented on #52
@thelfer For the glide we do, but for the rest not yet. We started exploring the options initially with the elasto plasticity demo, a tensile test, later realized it can be simplified so much with `mgis.fenics` .

Could we also attend the MFront User Meeting? I looked it up but found no mention. About organizing a meeting afterwards, absolutely.

[2020-11-22 12:01] thelfer commented on #52
@tamaradanceva, @RaffaRus Of course you can attend the meeting. Just register at tfel-contact@cea.fr.
The agenda is available here: https://github.com/thelfer/tfel-doc/blob/master/MFrontUserDays/SixthUserDays/talks.pdf
The annoucement has been made on a dedicated mailing list of the project (I can add you if you want), the Twitter account of TFEL/MFront (https://twitter.com/TFEL_MFront) and my per

[2020-11-26 11:38] tamaradanceva commented on #52
Hi @thelfer, @bleyerj

Firstly, firstly, I said I would get back to you on the number of iterations in Zset for the glide test. It is: [1,1,1,1,1,1,4,5,6,6,6,7,7,8,9,10,10,9].

Secondly, about the meeting, we propose next week Thursday (03.12), after 13:00, and Friday (04.12), any time you are available. Let us know if any of these slots would work for you or other slots that work for you.

[2021-01-12 18:51] #54 closed

[2021-01-12 18:52] thelfer commented on #54
The `Behaviour` class now exposes two new boolean data members:

- `computesStoredEnergy`: if true, the behaviour computes the stored energy
- `computesDissipatedEnergy`: if false, the behaviour computes the dissipated energy

[2021-01-12 19:10] thelfer commented on #50
Hi @cenguo, @nagelt,

I started working of this issue. I came up to this design (not yet fully implemented).

1. In `MFront`, we should be able to define various @Initialize code blocks as follows:
[code]
where `ElasticStrain` is a name used to differentiate this initialisation steps from the others

2. In most interfaces, those code blocks will have no effect
3. In `MGIS`, we could write somethin

[2021-01-13 20:03] nagelt commented on #50
@thelfer great to see this issue is addressed! This way, we can get rid of some of our current work-arounds. It's important also because some soil models have a set of internal variables with non-zero initial values, such as an initial void ratio for example (see Christian's Cam Clay implementation).

So if I understand correctly, all internal variables other than stress can be initialized normall

[2021-01-13 20:22] thelfer commented on #50
Yes, that may be a possible choice. The idea is that the calling solver will have a list of initialize functions that he can call or not :) For example, I plan to automatically declare an initialize function for eel if you use the `StandardElasticity` brick (or the `StandardElastoViscoPlasticity` brick. But you can add you own initialisation function, using:

[code]

The user is free to choose an

[2021-01-21 17:01] cbsilver commented on #50
Hello Thomas & everybody,
I'd like to add something referring to the **initialization of state variables** (other than the stress):
This is very convenient calling a MFront material model directly from mtest or from python like this:
`@InternalStateVariable 'Porosity' 0.4`
`m.setInternalStateVariableInitialValue('Porosity', 0.4)`

However, calling MFront from OpenGeoSys (OGS) we currently use a wo

[2021-01-21 19:13] thelfer commented on #50
Hi @cbsilver,
I would recommend that the initialization of the internal state variables to be handled on the `OpenGeoSys` side. In some cases, my proposal could be used to provide some complex  initialization steps, but I would be cautious about overuse of this feature.
Best,
Thomas

[2021-03-01 13:23] bleyerj opened #64 "Tests for mgis.fenics"

[2021-03-01 13:24] bleyerj opened #65 "Code style improvements in mgis.fenics"

[2021-03-03 14:47] bleyerj opened #66 "mgis.fenics: Missing update of external state variables when seen as UFL expression"

[2021-03-03 16:47] #66 closed

[2021-04-13 13:03] thelfer commented on #65
Hi @bleyerj,
I created the `yapf_formatting` branch.
I used `yapf` (https://github.com/google/yapf) to improve the formatting of `python` sources and `clang-format` for the `C++` sources. I also introduce a small script called `format.sh` to automate the process.
Would you review it ?
Best,
Thomas

[2021-10-11 15:53] CUMTBer01 opened #72 "Get stress results from MFront"
I am a beginner for MFront and FEniCS.  Recently I ran into a  problem about the Drucker-Prager model coupling FEniCS with Mfront. When I tend to check the stress-strain curves, I found the stress results is not consistent with MTest results. When the material yields, the stress should remain unchanged. The code for get stress results in FEniCS is "sig = problem.get_flux("Stress", project_on=("DG"

[2021-10-11 19:05] #72 closed, assigned to thelfer

[2021-10-14 08:01] thelfer opened #73 "Add support for point-wise models"
`TFEL-3.4.3` added support for point-wise models, defined as generic behaviours without any gradient, thermodynamic force nor tangent operator block.

See <https://thelfer.github.io/tfel/web/release-notes-3.4.3.html> for details

[2021-10-15 14:09] #73 closed, assigned to thelfer

[2021-11-16 19:01] CUMTBer01 commented on #72
Hi, Helfer
Recently, I want to get the convergence history, that is the global and local Newton iteration numbers and tolerance value (or the norm of the global and local residual vector) in every time step based on FEniCS and MFront. I don't how to program the code for this purpose in FEniCS. I hope you can give some suggestion.
https://github.com/CUMTBer01/DruckerPrager.git

[2021-11-16 19:32] thelfer commented on #72
Hi @CUMTBer01

Let's start with the local quantities (number of iterations+local residual).

Please find attached the a version of your behaviour with two additional auxiliary state variables. Those are updated after the convergence of the local Newton method.

[DruckerPrager.zip](https://github.com/thelfer/MFrontGenericInterfaceSupport/files/7549295/DruckerPrager.zip)

[2021-11-17 22:44] CUMTBer01 commented on #72
Hi, Helfer
Thank you reply about my problem. I try to calculate the DP model with FEniCS and MFront(you send me the DruckerPrager.mfront), and I can get the  number of iterations and local residual in FEniCS. All FEniCS , MFront files and local results have been attached.
Such as the code"
    error = problem.get_state_variable("LocalResidual", project_on=("CG", 1))
    iteration_number = problem.

[2021-11-18 07:56] thelfer commented on #72
Sorry I am not sure to understand this sentence.

You get the number of iterations for the last call to the behaviour integration for the given time step. If 0, it usually means that the solution at the beginning of the time step is a valid solution for the end of the time step (no increment of the state variables).

Those lines are printed by `MFront` in debug mode and shows the evolution of the

[2021-11-18 08:20] thelfer commented on #50
Developments started here: https://github.com/thelfer/tfel/issues/25

[2021-11-18 08:21] thelfer opened #74 "Support for tensorial external state variables"
Currently, the external state variables are assumed to be scalars.

[2021-11-18 08:55] tengfeideng commented on #72
Hi, Dr.Helfer,
Your explanation is useful for Q1. The iteration number and tolerance of the last integration could be obtained. I got it.

And for Q2, I also have a confusion.  Why include so many Local Newton iteration printed by Mfront between two Global Newton iteration?  Does it depend on the number of integration points or some parameters in MFront file? Or maybe in debug mode, as a default s

[2021-11-18 09:12] CUMTBer01 commented on #72
Hi, Helfer
I am very sorry for not explaining my question clearly, but your answer to Q1 made me understand that the output result is only the iteration result of the last step of the local iteration at each time step. About Q3，If I load mfront by the code "mfront --obuild --interface=generic DruckerPrager.mfront" and don't include "--debug", and I can get and output the global iteration informati

[2021-11-18 09:13] thelfer commented on #72
The behaviour integration is indeed called at each integration point for each global iteration.

[2021-12-07 05:29] minamdar opened #75 "help accessing mgis.fenics installed through spack"
Hello,
I am trying to install mgis via spack. Specifically, I want to use mgis.fenics libraries to run the demos created by J. Bleyer. To that end, I did the following.

1) Downloaded spack. Created and activated a new environment 'fenics-env'
2) Installed fenics in the environment 'fenics-env' using: spack install fenics
3) Installed 'mgis' in the same env as 2) using: spack install mgis

Now, wh

[2021-12-07 06:54] thelfer commented on #75
Hi Mandar,

You have to specificy that you want the `python` bindings for `mgis`. Under Linux, this works like a charm:

[code]

On Mac Os, I did have some trouble due to the dependency to `numpy` which depends on `blas` and `openblas` did not compile on my box. Let me know if you have more success than I did.

Best,
Thomas

[2021-12-07 20:14] thelfer opened #76 "[mgis.fenics] Error in the implementation of the phase-field behaviour"
Hi @bleyerj,

Looks like there is something wrong in the implementation of the phase-field behaviour as the History function is taken at the beginning of the time step and not the end as it should.

[code]

shall be:

[code]

[2021-12-16 15:02] #75 closed

[2022-01-17 11:48] thelfer opened #78 "Add support for behaviours which does not declare the temperature as the first external state variable"
This feature follows this new feature of MFront: <https://github.com/thelfer/tfel/issues/50>

[2022-01-17 12:00] #78 closed

[2022-01-18 17:27] felipefr opened #79 "Installation - problem with std::optional"
Even the CMakeLists requiring C++17, I'm facing the compilation problem below. Has anyone had a similar problem? (Using Ubuntu 20 btw)

[  1%] Building CXX object src/CMakeFiles/MFrontGenericInterface.dir/ThreadPool.cxx.o
In file included from /home/felipe/local/codes/mgis/include/MGIS/ThreadPool.hxx:32,
                 from /home/felipe/local/codes/mgis/src/ThreadPool.cxx:17:
/home/felipe/local/

[2022-01-18 17:53] thelfer commented on #79
Hi @felipefr,
Thanks for your interest for `mgis`.
I just tried on Ubuntu 20.10 and it works nicely with the default compiler.
I am downloading 20.04 just to give it a try. I'll let you informed.
Best,

[2022-01-18 18:22] felipefr commented on #79
Thanks for the quick answer. Indeed 20.04 is my version. I will check here later. If works for you I will try a virgin version tomorrow.

[2022-01-18 19:54] thelfer commented on #79
Hi @felipefr,

I had no problem to install `mgis` on a fresh Ubuntu 20.04.

You may want to give `spack` a try as it shall be as simple as:

[code]

Otherwise, you may want to try the attached script:

1. You must install the packages using the instructions at the beginning of the script
2. You may want to change the PREFIX variable to match your needs.
3. You may want to remove the installation o

[2022-01-19 08:08] thelfer commented on #79
Concerning spack, there is a small issue fixed by this PR: spack/spack#28502

[2022-01-19 09:22] felipefr commented on #79
Should I also install tfel with too? like:
spack install tfel+python_bindings ?

[2022-01-19 09:25] thelfer commented on #79
In spack, I makde `tfel` a dependency of the `mgis` package. So it will be automatically installed.
`spack load mgis@master` will automatically load `tfel@master`.

[2022-01-19 10:28] thelfer commented on #79
@felipefr The PR was merged. So installation shall work smoothly now.

[2022-01-19 12:15] felipefr commented on #79
Thanks. Indeed now I managed to install with the standard script using cmake. I took me some how to link mgis with my anaconda environment. But now is working the example with fenics by Bleyer.

I will give a try to spack later.

[2022-01-19 12:16] #79 closed

[2022-01-19 12:24] thelfer commented on #79
In my experience, `anaconda` is very good at providing a ready-to-use environment, but a poor  build environment upon which one can compile things. In particular, `anaconda`  can be a pain for  coupling fenics, mfront and MGIS ( mostly because of `boost-python`).

To build `mgis.fenics` (don't know if you considered this module developped by Jérémy or his previous tutorials), I mostly use:

1. `sp

[2022-01-20 15:10] felipefr commented on #79
Yes, I experienced problems with boost-python.
I compiled tfel and mgis in the native python. I only used anaconda to use my working environment with fenics and all the stuff. To recognise the libraries, I've run source env.sh with the desired environement activate. Temporary solution though.

I shall consider moving to spack, surely a better platform, at least opensource. Thanks again.

[2022-02-03 13:07] thelfer commented on #50
@nagelt, @cenguo Would you have a look at Issues https://github.com/thelfer/tfel/issues/24 and https://github.com/thelfer/tfel/issues/25 and make me early feed-backs.

[2022-02-15 19:19] thelfer opened #82 "Add support for behaviour post-processings"

[2022-02-15 19:20] thelfer opened #83 "Add support for extended variable types"

[2022-02-16 09:28] thelfer commented on #50
@nagelt, @cenguo, we have an early working example in the `th/work_issue_50`. Do not hesitate to make feedbacks on:

- https://github.com/thelfer/MFrontGenericInterfaceSupport/blob/th/work_issue_50/tests/InitializeFunctionTest.mfront
- https://github.com/thelfer/MFrontGenericInterfaceSupport/blob/th/work_issue_50/tests/InitializeFunctionTest.cxx

[2022-02-16 13:32] thelfer commented on #83
Fixed in the `th/work_issue_50` branch.

[2022-02-16 13:32] #83 closed

[2022-02-17 19:42] thelfer commented on #50
@nagelt, @cenguo `python` bindings are done. See:

- https://github.com/thelfer/MFrontGenericInterfaceSupport/blob/th/work_issue_50/bindings/python/tests/InitializeFunctionTest.py

[2022-02-17 20:18] #50 closed

[2022-02-17 20:19] #82 closed

[2022-02-17 20:19] thelfer commented on #82
The available postprocessings are described by the `postprocessings`
member of the `Behaviour` class which associates the name of the
postprocessing and a small data structure containing:

- the pointer to the postprocessing,
- the list of outputs of the postprocessing.

The `getPostProcessingVariablesArraySize` function returns the size
of an array able to contain the outputs an postprocessing fo

[2022-02-17 20:20] thelfer commented on #50
The available initialize functions are described by the
`initialize_functions` member of the `Behaviour` class which associates
the name of the initialize function and a small data structure
containing:

- the pointer to the initialize function,
- the list of inputs of the initialize function, if any.

The `getInitializeFunctionVariablesArraySize` function returns the size
of an array able to cont

[2022-02-17 20:22] thelfer opened #86 "[c bindings] Add support for behaviour initialize functions"

[2022-02-17 20:24] thelfer opened #87 "[python bindings] Add support for behaviour initialize functions"

[2022-02-17 20:25] thelfer opened #88 "[c bindings] Add support for behaviour post-processings"

[2022-02-17 20:26] thelfer opened #89 "[fortran bindings] Add support for behaviour initialize functions"

[2022-02-23 07:40] thelfer opened #90 "[mgis.fenics] Handle integration failure"

[2022-02-28 13:47] rprat-pro opened #92 "MFEM-MGIS Compilation issue: mgis::span has not been declared"
Hi,

I'm trying to compile the current version of MFEM-MGIS (with gcc 9.3.0) using the current master of MGIS. I got the following error with mgis::span just below. There is a span.hxx file in include/MGIS so I wonder why in my case this class is not declared.

`[ 24%] Building CXX object src/CMakeFiles/MFEMMGIS.dir/BehaviourIntegratorBase.cxx.o`
`In file included from /home/rp269144/codes/mfem-mg

[2022-02-28 13:58] thelfer commented on #92
Hi @rprat-pro,
Looks like there is an include missing in `MGIS/Behaviour/Integrate.hxx`.
I updated the `master` branch of `mgis`. Would you try to update it ?
Thomas

[2022-02-28 14:07] rprat-pro commented on #92
Great, it works for me!

Thank you,
Raphaël

[2022-02-28 14:10] #92 closed

[2022-03-17 06:56] bhaveshshrimali opened #94 "Implementing Finite Viscoelastic Behaviors"
Hi @thelfer @bleyerj

Many thanks for working on this. I am interested in exploring `Mfront` to implement finite-viscoelastic behaviors. The idea is to implement the model in [this paper](http://pamies.cee.illinois.edu/Publications_files/CRM_2016.pdf) specifically equations (37) and (41) for the internal variable using `Mfront/mgis`. I implemented the explicit integration in dolfinx, however the r

[2022-03-17 09:18] thelfer commented on #94
@bhaveshshrimali I am currently working on documenting how to implement a FeFp decomposition with MFront. It is mostly a question about MFront, not MGIS, so it may be better to discussion this here: <https://github.com/thelfer/tfel/discussions/>

[2022-03-17 09:18] #94 closed

[2022-03-29 09:33] thelfer opened #95 "Add an utility function to extract the value of an internal state variable"

[2022-05-12 07:20] thelfer opened #96 "Retrieve the metadata associated with the author, the date , the description"

[2022-05-12 07:21] thelfer opened #97 "Support for evaluating `generic` material properties"

[2022-06-17 07:37] bleyerj opened #98 "[mgis.fenics] Wrong handling of axisymmetric cases"
Axisymmetric plasticity demo is failing due to wrong size of vector representation

[2022-06-17 07:50] #98 closed

[2022-06-28 06:15] RokyC opened #100 "Error compiling behavior file"

[2022-06-28 06:32] #100 closed

[2022-06-28 07:21] RokyC opened #101 "Failed to import the MGIS module."
I refer to "https://comet-fenics.readthedocs.io/en/latest/demo/plasticity_mfront/plasticity_mfront.py.html" installation TEFL and MGIS,
     I run the following command on the terminal and execute it.However, the mGIS module cannot be found when running the Python file.
    The following is terminal execution:
     ->source. / mgis/master/install/env. sh
     -> mfront --obuild --interface=generic

[2022-06-28 07:33] thelfer commented on #101
Hi @RokyC,

I don't see the error in your logs.

Would you try:

[code]

and give us the output of every single command.

Best,

Thomas

[2022-06-28 07:39] RokyC commented on #101
Thank you for your answer. This is the result after running：
(base) roky@roky-virtual-machine:~/ceshi$ source /home/roky/codes/mgis/master/install/env.sh
(base) roky@roky-virtual-machine:~/ceshi$ echo $PYTHONPATH
/home/roky/codes/mgis/master/install-273d02f3c8fd84ab6c9921abdade916e08997e9e/lib/python3.9/site-packages/:/home/roky/codes/tfel/master/install-22ec71681cf37302a57f9f4294019c5c5152b62d/li

[2022-06-28 07:58] thelfer commented on #101
would you just list the files of the first directory pointed by PYTHONPATH (i.e. mgis/install-..../lib/python.../site-packages/)

[2022-06-28 08:08] RokyC commented on #101
I seem to have found a problem, python3.9 does not exist in the lib file, I have reconfigured PYTHONPATH in env.sh. Thank you very much for your patient reply.

![image](https://user-images.githubusercontent.com/59686187/176126913-d9e799e3-4120-4603-ab12-b00c85017194.png)

[2022-07-28 14:56] pbouda95 opened #102 "[python bindings] Python bindings does not provide support for AuxiliaryStateVariables"
Hello,

It seems that python bindings does not provide a way to handle `@AuxilliaryStateVariables.`
I would be williful to self-assign this issue and work on it  but I am not sure where I need to start.

Cheers,

[2022-07-28 15:15] pbouda95 commented on #102
BTW, I am not sure if `mgis` itself provides something at his roots for that ...

[2022-07-28 15:37] thelfer commented on #102
@pbouda95 There is no reason for mgis to handle auxiliary state variables. The distinction between "standard" state variables and auxiliary state variables is only meaningful inside `MFront`, there no reason for the calling solvers (and `mgis`) to make such a difference (i.e. everything is a state variable from their point of view !)

[2022-07-28 16:08] pbouda95 commented on #102
Hello @thelfer,
I agree with you for the solver case. However, I thought it might be different if you think about `mgis` more as a higher level tool than `mtest` to perform integrations ... Thus you could have kept the same glossary as `mfront` and provide functions to handle them separately thereafter in a `MaterialStateManager` class for instance. But you've got a point :smile:

[2022-07-28 17:08] thelfer commented on #102
`mtest` does not make any difference either ! :)

[2022-07-28 21:12] #102 closed

[2022-10-24 12:07] #101 closed

[2022-11-17 02:35] jeanmichelscherer opened #105 "[mgis.fenics] tutorial for small strain and finite strain crystal plasticity"
Hi @thelfer and @bleyerj,

I wrote a demo for crystal plasticity while getting familiar with `mgis.fenics` (see archive below).
If you want to add it [here](https://thelfer.github.io/mgis/web/mgis_fenics.html), I can write a short tutorial inspired by those already available. Let me know which file format you would prefer.

[mgis_fenics_single_crystal.tar.gz](https://github.com/thelfer/MFrontGener

[2022-11-17 08:23] bleyerj commented on #105
Hi @jeanmichelscherer
if you can write a short demo that would be indeed perfect, thank you!
I wonder if doing it for a polycrystal rather than a single crystal is not preferable though. I have some piece of code somewhere but I never took time to write the demo. I can send it to you if you want.
I think that the main points to illustrate, compared to the already existing demos are the fact that t

[2022-11-17 19:20] thelfer commented on #105
@jeanmichelscherer Thanks for the proposal. All the documentation is currently in `markdown` (`pandoc` flavor), but as @bleyerj said, do with what is the easiest for you as long if it is not in `Word` on something similar.

But if you use `LaTeX` or something similar, maybe could you use the commands used everywhere else in the documentation (for tensors, etc...). See this file for example: https:

[2022-11-21 17:42] jeanmichelscherer commented on #105
Ok for a polycrystal tutorial. I have a working polycrystal example for which I can write a demo. I will post the jupyter notebook (using your LaTeX shortcuts) here when it is ready.

[2022-11-21 18:12] thelfer commented on #105
Great !